<h1>New doctor</h1>

<% form_for :doctor,:url=>admin_doctors_path do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :department_id %><br />
    <%= f.select :department_id,all_departments%>
  </p>
  <p>
    <%= f.label :doctor_name %><br />
    <%= f.text_field :doctor_name %>
  </p>
  <p>
    <%= f.label :designation %><br />
    <%= f.text_field :designation %>
  </p>
  <p>
    <%= f.label :medical_id %><br />
    <%= f.text_field :medical_id %>
  </p>
  <p>
    <%= f.label :working_from %><br />
    <%= f.datetime_select :working_from %>
  </p>
  <p>
    <%= f.label :working_to %><br />
    <%= f.datetime_select :working_to %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_doctors_path %>
